*{
padding:0;
margin: 0;
box-sizing: border-box;
font-family: 'Hind', sans-serif;
}

::selection {
  color: #ffffff;
  background:#1f1f1f;
}

body{
	background-image: url("https://images.unsplash.com/photo-1490131784822-b4626a8ec96a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
	background-size: cover;                   
    background-repeat: no-repeat;
    background-position: center center; 
    height: 100vh;
    background-attachment: fixed;

}

header{
	min-height: 25vh;
	margin:3rem auto;
	text-align: center;
}

header h1{
	font-size: 2.5rem;
	padding-bottom: 1rem;
}

.name{
	color: #764444;
}
header p{
	padding: 1rem;
}
.wrapper{
	display: flex;
	/*flex-wrap: nowrap;*/
	flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20vh;
}

.wrapper h1{
	font-size: 1.5rem;
}

#input{
	border: none;
	/*margin: 0 0.7rem 0.7rem 0.7rem;*/
	/*margin-bottom: 0.1rem;*/
	/*padding-bottom: 0.5rem;*/
}
#input:focus{
	outline: none;
}

#upper{
	text-align:center;
	padding: 1rem;
	border-radius: 5px;
	background-color: rgba(29,33,37,0.3);
}

#top{
	background-color: #ffffff;
	font-size: 1.5rem;
	border-radius: 0.5rem;
    padding-left:1rem;
}

ol{
	list-style: none; /*why the list items are not inside the div box ??*/
}

li{
	display: flex;
	min-width: 15rem;
	padding: 0.5rem;
	padding-bottom: 0;
	font-weight: 600;
}

.fa{
    padding: 0.5rem;
    border-radius: 50%;
}

.fa:hover{
	background-color: rgba(0,0,0,0.4);
}
.block .fa{
	height: 2rem;
	width: 2rem;
	/*border: 2px solid blue;*/
}

.fa-check{
	margin-left: auto;
}

.block{
	display: flex;
	border-radius: 10px;
	border-bottom: 1px solid #B2B4B8;
	background-color: rgba(255,255,255,0.5);
	transition: 0.5s;		
}
.checked{
	background-color: rgba(29,33,37,0.3);	
}

.fa-trash:focus{
	border:2px solid red;
}
.fa-plus{
	height: 2.6rem;
	border-radius:0 7px 7px 0;
	margin:0;
}


 @media (max-width: 550px){
        
         body{
    	   background-size: all;
         }
	 
 	.fa:hover{
 		background-color: initial;
 	}

 	header{
 		padding: 3rem;
 	}
 }

@media (max-width: 450px){
	header{
	padding: 1rem;
	min-height: 20vh;
	margin:0.5rem auto;
}

}